{erl_opts,
 [
  debug_info,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_unused_import
 ]
}.

{deps,
 [
  {mas, {git, "https://github.com/erlang-mas/mas.git", {branch, "develop"}}},
  {exometer_fs, {git, "https://github.com/erlang-mas/exometer-fs.git", {tag, "0.1.0"}}}
 ]
}.

{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs,
 [{"priv/fitness_entry_nif.so", ["c_src/fitness_entry_nif.c"]}]
}.
